#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background: url("/assets/images/hero-img.jpg") no-repeat center center/cover ;
    .hero-content {
        text-align: center;
        .hero-title {
            font-size: 3rem;
            // font-weight: typography.$bold-font;
            margin-bottom: 1rem;
            color: var(--primary-color);
        }
        .hero-subtitle {
            font-size: 1.5rem;
            // font-weight: typography.$normal-font;
            margin-bottom: 1rem;
            color: var(--accent-color);
        }
        .hero-btn {
            padding: 1rem 1.5rem;
            border-radius: 5px;
            font-size: 2rem;
            cursor: pointer;
        }
    }
    .non-hero-content {
        display: block;
        width: 50vw;
    }
}

#computers {
    display: grid;
    grid-template-columns: repeat(5, minmax(200px, 1fr));
    gap: 32px;
    background-color: var(--secondary-color);
    padding: 32px 16px;
    .computer-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        border: 1px solid #f1f1f1;
        border-radius: 10px;
        padding: 1rem;
        background-color: #fff;
        &:hover{
            box-shadow: 3px 3px 3px 3px #f1f1f1;
            transition: 0.2s ease-in;
        }
        .computer-img {
            img {
                max-width: calc(200px - 1rem);
            }
        }
        .actions {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            margin-top: 1rem;
        }
    }
}