.master-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: var(var(--primary-color));
}

a:hover {
    color: var(--accent-color);
}

.pcshop {
    color: var(--primary-darker-color);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 64px;
    background-color: var(--secondary-color);
    box-shadow: 2px 3px 2px var(--secondary-darker-color);
    .search {
        min-width: 280px;
        display: flex;
        justify-content: center;
        align-items: center;
        #searchInput {
            height: 2rem;
            width: 100%;
            padding: 0 12px 0 12px;
            border: 1px solid var(--primary-color);
            border-radius: 6px;
        }
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .menu-item {
        margin: 0 1rem;
        font-size: 1.2rem;
        cursor: pointer;
        &:hover {
            color: var(--accent-color);
        }
    }
}

.hamburger {
    display: none;
    .bar {
        display: inline-block;
        width: 30px;
        height: 4px;
        margin: 6px 0;
    }
}

footer {
    width: 100%;
    margin-top: auto;
    .footer-menu {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 2rem;
    }
}