<form [formGroup]="shippingForm" (ngSubmit)="submitForm()">
    <label for="name">Name:</label> 
    <input type="text" id="name" formControlName="name">

    <label for="phoneNumber">Phone number:</label>
    <input type="tel" name="" id="phoneNumber" formControlName="phoneNumber">

    <label for="address">Address:</label>
    <input type="text" id="address" formControlName="address">

    <label for="city">City:</label>
    <input type="text" id="city" formControlName="city">

    <label for="postalCode">Postal code:</label>
    <input type="text" id="postalCode" formControlName="postalCode">

    <label for="note">Note:</label>
    <textarea id="note" cols="30" rows="5" formControlName="note"></textarea>
</form>